.title1 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    color: #105b50;
}

.d_visi {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    color: #105b50;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.d_misi {
    padding-left: 10%;
    padding-bottom: 120px;
    color: #105b50;
}

.medsos {
    width: 100%;
}

.n_visi {
    padding-bottom: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
* {
    box-sizing: border-box;
}

.box {
    background-color: #009982;
    text-align: right;
    margin-bottom: 15px; 
}

.desc {
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.img_jadwal {
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}


/* Center website */
.main {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.rows {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.rows,
.rows>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    margin-bottom: 40px;
    height: auto;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    border-radius: 2%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 350px;
}

.filter {
    width: 25%;
    padding-left: 10%;
    text-align: right;
}

.contents {
    padding-left: 35%;
    padding-right: 35%;
}

div.relative {
    position: relative;
    width: 100%;
    padding-bottom: 80px;
}

div.absolute {
    position: absolute;
    right: 10%;
    width: 15%;

}
.f_logo {
    width: 300px;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 990px) {
    .column {
        width: 50%;
    }
    div.absolute {
    position: absolute;
    right: 10%;
    
    width: 45%;
    }
    .content {
        background-color: white;
        border-radius: 2%;
        padding: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);;
        height: 350px;
    }
    .column {
    float: left;
    width: 100%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
    
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .f_logo {
        width: 100%;
    }
    div.absolute {
        position: absolute;
        right: 10%;
        left: 10%;
        width: 80%;
    }

}